/* src/components/MedicareHospitals/MedicareHospitals.css */

.hospital-card {
    position: relative;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(33% - 20px);
    height: 350px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.0);
    z-index: 0;
}

.hospital-card:hover .background-image {
    transform: scale(1.1);
    opacity: 0.7;
}

.card-content {
    position: absolute;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
}

.hospital-card:hover .card-content {
    background-color: rgba(0, 0, 0, 0.8);
}

.hospital-card:hover .hospital-name {
    color: crimson;
}

.hospital-card:hover .hospital-detail {
    color: white; /* Ensure details stay white on hover */
}

.hospital-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.hospital-detail {
    font-size: 0.9em;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .hospital-card {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .hospital-card {
        flex: 0 0 calc(100% - 20px);
    }
}
